html {
    background-color: white;
}

body {
    width: 1000px;
    margin: 0 auto;
    background-color:ivory ;
    padding: 0 50px 50px 50px;
    border: 1px solid black;
}

.meta{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    font-size: 50px;
    text-align: center;
}

p,
li {
    text-indent: 2em;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img{
    display: block;
    margin: 0 auto;
}